* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(4, minmax(70vh, 1fr));
}

header {
    background-color: #40596B;
    color: #FFD05A;
    text-align: center;
}
ul li {
    display: inline-block;
    padding: 5px;
}
a {
    text-decoration: none;
    color: #FFD05A;
}
section {
    padding: 10px;
}
#hero {
    background-color: #55C0EB;
}
.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        'left right';
}
#left-side {
    grid-area: 'left';
}
#right-side {
    grid-area: 'right';
    overflow: hidden;
}
#tickybot {
    max-width: 100%;
    height: auto;
    display: block;
}
#features {
    background-color: #90DCAA;
}
footer {
    background-color: #40596B;
    color: #FFD05A;
}
button {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    height: 50px;
    width: 150px;
    border: none;
}
button p{
    display: inline;
    vertical-align: 60%;
}
#call-to-action button {
    background-color: #40596B;
}
button img {
    margin-left: -40px;
    height: 2rem;
    width: 3rem;
}

hr {
   margin-left: 30vw;
   margin-right: 30vw;
   border-color: #55C0EB;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "one two three";
}
#card-one {
    grid-area: 'one';
}
#card-two {
    grid-area: 'two';
}
#card-three {
    grid-area: 'three';
}